<%- include("./partials/header.ejs") %>

<body class="d-flex flex-column vh-100">

  <%- include('./partials/navbar.ejs')%>

  <%- include('./partials/sidebar.ejs')%>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/Dashboard">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <% if(user) { %>
      
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Calories <span>| Today</span></h5>
                  <button class="add-water-button" onclick="showWaterPopup()"></button>
                  <a href="/foodintake.ejs" class="add-water-button" style="text-align: center; background-color: #4154f1;">+</a>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="ri-fire-line"></i>
                    </div>
                    <div class="ps-3">
                      <% if(user.macrotracking){ %>
                        <% const today = new Date(); %>
                         <% user.macrotracking.filter(item => {
                             const itemDate = new Date(item.datetime);
                             return itemDate.toDateString() === today.toDateString();
                           }).forEach(item => { %>
                           <h6><%= item.data[0].calories %> kcal</h6>
                         <% }); %>
                     <% }; %>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Sales Card -->

            <!-- Customers Card -->
            <div class="col-6">
              <div class="card info-card customers-card">

                <!-- The "+" button for adding water -->
                <button class="add-water-button" onclick="showWaterPopup()" style="background-color: #4154f1;">+</button>

                <!-- The pop-up form -->
                <div id="water-popup" class="water-popup" style="background-color: #4154f1;">
                    <span class="close-button" style="color: white;" onclick="closeWaterPopup()">&times;</span>
                    <h2 style="color: white;">Enter Water Intake</h2>
                    <form method="post" action="/Waterintake">
                      <label for="wateramount" style="color: white; border-radius: 50%;">Amount (ml):</label>
                      <input type="number" name="wateramount" class="form-control" id="wateramount" required>
                      <P></P>
                      <button class="btn" style="background-color: white;" type="submit">Save</button>
                    </form>
                </div>

                <script>
                function showWaterPopup() {
                    document.getElementById("water-popup").style.display = "block";
                }

                function closeWaterPopup() {
                    document.getElementById("water-popup").style.display = "none";
                }
                </script>

                  <div class="card-body">
                      <h5 class="card-title">Water <span>| Today</span></h5>
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-droplet-half"></i>
                        </div>
                        <div class="ps-3">
                          <% if(user.macrotracking){ %>
                             <% const today = new Date(); %>
                              <% user.macrotracking.filter(item => {
                                  const itemDate = new Date(item.datetime);
                                  return itemDate.toDateString() === today.toDateString();
                                }).forEach(item => { %>
                                <h6><%= item.data[0].water %> ml </h6>
                              <% }); %>
                          <% }; %>
                        </div>
                      </div>
                  </div>
                </div>

              </div><!-- End Customers Card -->
            </div>
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Calories & Water Tracking</h5>
                  <canvas id="lineChart" style="max-height: 400px;"></canvas>
                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      var labels = '<%= labels %>';
                      var caloriesdata = '<%=caloriesdata%>'
                      var waterdata = '<%= waterdata %>'

                      var labelsArray = labels.split(',');
                      var caloriesdataArray = caloriesdata.split(',').map(Number);
                      var waterdataArray = waterdata.split(',').map(Number);

                      new Chart(document.querySelector('#lineChart'), {
                        type: 'line',
                        data: {
                          labels: labelsArray,
                          datasets: [{
                            label: 'Calories',
                            data: caloriesdataArray,
                            fill: false,
                            borderColor: '#ee6666',
                            tension: 0
                          },{
                            label: 'Water',
                            data: waterdataArray,
                            fill: false,
                            borderColor: '#5470c6',
                            tension: 0
                          }]
                        },
                        options: {
                          scales: {
                            y: {
                              beginAtZero: false
                            }
                          },
                          plugins: {
                            legend: {
                              labels: {
                                usePointStyle: false,
                                font: {
                                  size: 12,
                                },
                                padding: 4,
                                boxWidth: 30, // Set the width of the legend rectangles
                                boxHeight: 10, // Set the height of the legend rectangles
                                generateLabels: function(chart) {
                                  const labels = Chart.defaults.plugins.legend.labels.generateLabels(chart);
                                  labels.forEach(label => {
                                    if (label.text === 'Calories') {
                                      label.fillStyle = '#ee6666'; // Color for the 'Calories' legend
                                    } else if (label.text === 'Water') {
                                      label.fillStyle = '#5470c6'; // Color for the 'Water' legend
                                    }
                                  });
                                  return labels;
                                }
                              }
                            }
                          }
                        }
                      });
                    });
                  </script>
                  
                  
                </div>
          
              </div>
            </div><!-- End Reports -->
          </div>
          <div class="col-lg-4">
              <div class="card basic" style="min-height: 95.5%;">
                <div class="card-body">
                  <h5 class="card-title">5 Steps To Success</h5>
                  <p style="margin-bottom: 0; color: #012970; font-family: Poppins, sans-serif;">1. Visualize Success:</p> 
                  <p style="text-align: justify; font-family: Poppins, sans-serif;">Picture how achieving your goals will improve your life.</p>
                  <p style="margin-bottom: 0; color: #012970; font-family: Poppins, sans-serif;">2. Track Progress:</p>
                  <p style="text-align: justify; font-family: Poppins, sans-serif;">Document your journey to see your achievements.</p>
                  <p style="margin-bottom: 0; color: #012970; font-family: Poppins, sans-serif;">3. Stay Consistent:</p>
                  <p style="text-align: justify; font-family: Poppins, sans-serif;">Every healthy meal is a step toward success.</p>
                  <p style="margin-bottom: 0; color: #012970; font-family: Poppins, sans-serif;">4. Stay Positive:</p>
                  <p style="text-align: justify; font-family: Poppins, sans-serif;">Use self-affirmations to boost confidence.</p>
                  <p style="margin-bottom: 0; color: #012970; font-family: Poppins, sans-serif;">5. Believe in Yourself:</p>
                  <p style="text-align: justify; font-family: Poppins, sans-serif;">Trust your ability to make positive choices.</p>
                  <p style="text-align: justify; color: #012970; font-family: Poppins, sans-serif;">Remember, you have the strength to stick to your meal plan and reach your goals. Keep going! 💪🥗🌟</p>
                </div>
              </div>
            </div>
      </div>
          <div class="col-12">
            <div class="row">
              
              <!-- Carbs Card -->
              <div class="col-4">
                <div class="card info-card protein-card">

                  <div class="card-body">
                    <h5 class="card-title">Protein <span>| Today</span></h5>

                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-lightning-charge"></i>
                      </div>
                      <div class="ps-3">
                        <% if(user.macrotracking){ %>
                          <% const today = new Date(); %>
                           <% user.macrotracking.filter(item => {
                               const itemDate = new Date(item.datetime);
                               return itemDate.toDateString() === today.toDateString();
                             }).forEach(item => { %>
                             <h6><%= item.data[0].protein %> g</h6>
                           <% }); %>
                       <% }; %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Carbs Card -->
              <div class="col-4">
                <div class="card info-card carb-card">
      
                  <div class="card-body">
                    <h5 class="card-title">Carbs <span>| Today</span></h5>
      
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="ri-seedling-line"></i>
                      </div>
                      <div class="ps-3">
                        <% if(user.macrotracking){ %>
                          <% const today = new Date(); %>
                           <% user.macrotracking.filter(item => {
                               const itemDate = new Date(item.datetime);
                               return itemDate.toDateString() === today.toDateString();
                             }).forEach(item => { %>
                             <h6><%= item.data[0].carbs %> g</h6>
                           <% }); %>
                       <% }; %>
                      </div>
                    </div>
                  </div>
      
                </div>
              </div>
              
              <!-- Fat Card -->
              <div class="col-4">
                <div class="card info-card fat-card">
      
                  <div class="card-body">
                    <h5 class="card-title">Fat <span>| Today</span></h5>
      
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-egg-fried"></i>
                      </div>
                      <div class="ps-3">
                        <% if(user.macrotracking){ %>
                          <% const today = new Date(); %>
                           <% user.macrotracking.filter(item => {
                               const itemDate = new Date(item.datetime);
                               return itemDate.toDateString() === today.toDateString();
                             }).forEach(item => { %>
                             <h6><%= item.data[0].fat %> g</h6>
                           <% }); %>
                       <% }; %>
                      </div>
                    </div>
                  </div>
      
                </div>
              </div>

            </div>
          </div>
      </div>
      <% }; %>
    </section>
    

  </main><!-- End #main -->
  <%- include('./partials/footer.ejs')%>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <%- include('./partials/js.ejs')%>
</body>

</html>