<%- include("./partials/header.ejs") %>

<body class="d-flex flex-column vh-100">

  <%- include('./partials/navbar.ejs')%>

  <%- include('./partials/sidebar.ejs')%>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dietation Facts</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/Dashboard">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Dietation Facts</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section faq">
      <div class="row">
        <div class="col-lg-6">

          <div class="card basic">
            <div class="card-body">
              <h5 class="card-title">Facts</h5>

              <div>
                <h6>1. Balanced Nutrition is Key</h6>
                <p>A well-rounded diet that includes a variety of food groups ensures you get a range of essential nutrients. Carbohydrates, proteins, fats, vitamins, and minerals all play crucial roles in supporting your overall health.</p>
              </div>

              <div class="pt-2">
                <h6>2. Hydration Matters</h6>
                <p>Often overlooked, water is a fundamental part of a healthy diet. Staying adequately hydrated is essential for digestion, nutrient absorption, and overall bodily functions. Aim to drink enough water throughout the day to maintain optimal hydration.</p>
              </div>

              <div class="pt-2">
                <h6>3. Mindful Eating is Beneficial</h6>
                <p>Paying attention to what and how much you eat can have a significant impact on your relationship with food. Mindful eating involves savoring each bite, recognizing hunger and fullness cues, and being aware of emotional triggers for eating. This approach can contribute to better digestion and a more positive connection with food.</p>
              </div>

            </div>
          </div>

          <!-- F.A.Q Group 1 -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Questions about Dietation</h5>

              <div class="accordion accordion-flush" id="faq-group-1">

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-1" type="button" data-bs-toggle="collapse">
                      Why is it important to pay attention to portion sizes in a diet?
                    </button>
                  </h2>
                  <div id="faqsOne-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      Monitoring portion sizes is crucial for weight management and overall health. Eating appropriate portions helps prevent overconsumption of calories, leading to better control of body weight. It also allows individuals to enjoy a variety of foods without exceeding their daily caloric needs.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-2" type="button" data-bs-toggle="collapse">
                      How does hydration impact overall well-being, and what are some practical tips for staying adequately hydrated?
                    </button>
                  </h2>
                  <div id="faqsOne-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      Hydration is essential for various bodily functions, including temperature regulation, nutrient transport, and joint lubrication. Practical tips for staying hydrated include carrying a reusable water bottle, setting reminders to drink water throughout the day, and incorporating hydrating foods like fruits and vegetables into meals.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-3" type="button" data-bs-toggle="collapse">
                      Can you explain the concept of mindful eating and its potential benefits for individuals seeking a healthier relationship with food?
                    </button>
                  </h2>
                  <div id="faqsOne-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      Mindful eating involves being present and fully engaged during meals. This practice encourages awareness of hunger and fullness cues, appreciation for flavors and textures, and recognition of emotional triggers for eating. By fostering a mindful approach to eating, individuals may develop a more positive and balanced relationship with food.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-4" type="button" data-bs-toggle="collapse">
                      How can someone strike a balance between enjoying occasional treats and maintaining a healthy diet?
                    </button>
                  </h2>
                  <div id="faqsOne-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      Balance is key when it comes to treats. Rather than completely avoiding them, it's important to enjoy them in moderation. Planning treats as part of an overall well-balanced diet can help satisfy cravings without derailing healthy eating habits. Additionally, being mindful of portion sizes and savoring treats can enhance the overall experience.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-5" type="button" data-bs-toggle="collapse">
                      In a world with various diet trends, what fundamental principles should guide individuals in making healthy food choices?
                    </button>
                  </h2>
                  <div id="faqsOne-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      Fundamental principles for making healthy food choices include prioritizing whole, minimally processed foods, incorporating a variety of fruits and vegetables, choosing lean proteins, opting for whole grains, and moderating added sugars and unhealthy fats. It's essential to focus on long-term, sustainable dietary patterns rather than quick-fix trends.
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div><!-- End F.A.Q Group 1 -->

        </div>

        <div class="col-lg-6">    

        </div>

      </div>
    </section>

  </main><!-- End #main -->
  <%- include('./partials/footer.ejs')%>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <%- include('./partials/js.ejs')%>
</body>

</html>