<%- include("./partials/header.ejs") %>

<style>

.search-container{
  position: relative;
  height: 45px;
  max-width: 650px;
  width: 70%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.search-container i {
  position: absolute;
  left: 20px;
  font-size: 16px;
  color: #707070;
}

#search-input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  border: none;
  padding-left: 50px;
  background-color: transparent;
}

@media screen and (max-width: 786px) {
  .search-container{
    width: 50%;
  }
}

</style>

<body class="d-flex flex-column vh-100">

  <%- include('./partials/navbar.ejs')%>

  <%- include('./partials/sidebar.ejs')%>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Recipes</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.ejs">Home</a></li>
          <li class="breadcrumb-item">Recipes</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
    <section class="section profile">
      <div class="row justify-content-center">
        <!-- Search Bar -->
        <div class="search-container col-2" style="margin-bottom: 30px;">
          <i class="fa fa-search"></i>
          <input type="text" id="search-input" placeholder="Search..." autocomplete="off"/>
        </div>
        <br>
        <!-- Cards -->
        <% recipes.forEach((recipe) => { %>
          
          <div class="card col-5" style="margin-right: 30px;">
            <div class="container">
              <h4 id="recipeName"><b><%= recipe.name %></b></h4>
              <div class="row">
                <div class="col">
                  <h6 id="recipeCalories">Calories: <%= recipe.calories %> cal</h6>
                  <h6 id="recipeFat">Fat: <%= recipe.fat %>g</h6>
                  <h6 id="recipeSatFat">Saturated Fat: <%= recipe.satfat %>g</h6>
                  <h6 id="recipeProtien">Protein: <%= recipe.protein %>g</h6>
                </div>
              
                <div class="col">
                  <h6 id="recipeCarbs">Carbohydrates: <%= recipe.carbs %>g</h6>
                  <h6 id="recipeFiber">Fiber: <%= recipe.fiber %>g</h6>
                  <h6 id="recipeSugar">Sugar: <%= recipe.sugar %>g</h6>
                </div>
              </div>
              <p  style="text-align: center;">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#instructions1" role="button" aria-expanded="false" aria-controls="instructions1">Instructions</a>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#ingredients1" aria-expanded="false" aria-controls="ingredients1">Ingredients</button>
              </p>
              <div class="row">
                <div class="col">
                  <div class="collapse multi-collapse" id="instructions1">
                    <div class="card card-body">
                      <%= recipe.instructions %>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="collapse multi-collapse" id="ingredients1">
                    <div class="card card-body">
                      <% recipe.ingredients.forEach((ingredient) => { %>
                        <li><%= ingredient %></li>
                      <% }); %>                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
    </section>

  </main><!-- End #main -->
  <%- include('./partials/footer.ejs')%>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <%- include('./partials/js.ejs')%>
</body>

</html>