<%- include("./partials/header.ejs") %>

<body class="d-flex flex-column vh-100">

  <%- include('./partials/navbar.ejs')%>

  <%- include('./partials/sidebar.ejs')%>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.ejs">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
    <section class="section profile">
      <div class="row">
        <div class="col-xl-12">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <% if(user) { %>
              <h2><%= user.name %></h2>
              <% }; %>
        </div>
        <div class="col-xl-12">

          <div class="card align-items-center">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview" style="text-align: center;">
                  
                  <p class="small fst-italic"></p>

                  <h5 class="card-title" style="text-align: center;">Profile Details</h5>
                  <% if(user) { %>
                  <div class="row">
                    <div class="col-lg-4 col-md-5 label ">Name</div>
                    <div class="col-lg-8 col-md-7" id="namefield"><%= user.name %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-4 col-md-5 label">Email</div>
                    <div class="col-lg-8 col-md-7" id="emailfield"><%= user.email %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-4 col-md-5 label">Gender</div>
                    <div class="col-lg-8 col-md-7" id="genderfield"><%= user.gender %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-4 col-md-5 label">Age</div>
                    <div class="col-lg-8 col-md-7" id="agefield"><%= user.age %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-4 col-md-5 label">Height</div>
                    <div class="col-lg-8 col-md-7" id="heightfield"><%= user.height %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-4 col-md-5 label">Weight</div>
                    <div class="col-lg-8 col-md-7" id="weightfield"><%= user.weight %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-4 col-md-5 label">Activity Level</div>
                    <div class="col-lg-8 col-md-7" id="activityfield"><%= user.activity %></div>
                  </div>
                  <% if(user.allergies !== "") {%>
                  <div class="row">
                    <div class="col-lg-4 col-md-5 label">Allergies</div>
                    <div class="col-lg-8 col-md-7" id="allergiesfield"><%= user.allergies %></div>
                  </div>
                  <%};%>
                  <% if(user.vegetarian) {%>
                  <div class="row">
                    <div class="col-lg-4 col-md-5 label">Vegetarian</div>
                    <div class="col-lg-8 col-md-7" id="dietaryPreferencesfield">Yes</div>
                  </div>
                  <%};%>
                  <% if(user.vegan) {%>
                  <div class="row">
                    <div class="col-lg-4 col-md-5 label">Vegan</div>
                    <div class="col-lg-8 col-md-7" id="dietaryPreferencesfield">Yes</div>
                  </div>
                  <%};%>
                  <% if(user.glutenFree) {%>
                  <div class="row">
                    <div class="col-lg-4 col-md-5 label">Gluten Free</div>
                    <div class="col-lg-8 col-md-7" id="dietaryPreferencesfield">Yes</div>
                  </div>
                  <%};%>
                  <div class="row">
                    <div class="col-lg-4 col-md-5 label">Health goal </div>
                    <div class="col-lg-8 col-md-7" id="healthgoalfield"><%= user.healthgoal %></div>
                  </div>
                  <% }; %>
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form method="post" action="/editprofile">
                    <div class="row mb-3">
                      <label for="Name" class="col-md-4 col-lg-3 col-form-label">Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="Name" type="text" class="form-control" id="Name" value="">
                      </div>
                    </div>

                      <div class="row mb-3">
                      <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="text" class="form-control" id="email" value="">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="height" class="col-md-4 col-lg-3 col-form-label">Height</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="height" type="number" class="form-control" id="height" value="">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="weight" class="col-md-4 col-lg-3 col-form-label">Weight</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="weight" type="number" class="form-control" id="weight" value="">
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="activityLevel" class="form-label">Activity Level</label>
                      <select class="form-select" id="activityLevel" name="activityLevel" >
                          <option value="" selected >Select your activity level</option>
                          <option value="Sedentary">Sedentary</option>
                          <option value="Moderate">Moderate</option>
                          <option value="Active">Active</option>
                      </select>
                      <div class="invalid-feedback">Please select your activity level!</div>
                  </div>
          
                  <div class="col-12">
                      <label for="allergies" class="form-label">Allergies (if any)</label>
                      <input type="text" name="allergies" class="form-control" id="allergies">
                  </div>
          
                  <div class="col-12">
                      <label for="dietaryPreferences" class="form-label">Dietary Preferences</label>
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="vegetarian" id="vegetarian" value="vegetarian">
                          <label class="form-check-label" for="vegetarian">Vegetarian</label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="vegan" id="vegan" value="vegan">
                          <label class="form-check-label" for="vegan">Vegan</label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="glutenFree" id="glutenFree" value="glutenFree">
                          <label class="form-check-label" for="glutenFree">Gluten-Free</label>
                      </div>
                  </div>

                  <div class="col-12">
                    <label for="healthGoal" class="form-label">Health Goal</label>
                    <select class="form-select" id="healthGoal" name="healthGoal">
                        <option value="" selected >Select your health goal</option>
                        <option value="Weight Loss">Weight Loss</option>
                        <option value="Muscle Gain">Muscle Gain</option>
                        <option value="Maintenance">Maintenance</option>
                    </select>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                  </div>
                </form><!-- End Profile Edit Form -->

                </div>

          
                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form method="post" action="/changepass">

                    <div class="row mb-3">
                      <label for="password" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="password">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
  <%- include('./partials/footer.ejs')%>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <%- include('./partials/js.ejs')%>
</body>

</html>